<script>
    function logActivity(){
        activityCount += 1;
    }
    let activityCount = 0;
</script>
<style>
    .block {
        height:10px;
        width:10px;
        background-color: black;
        margin:1px;
    }
    #myactivity {
        display:flex
    }
    .home-card {
        border: 1px solid grey;
        margin:1em;
        padding: 1em;
        min-height: 4em;
    }
    img {
        object-fit: cover;
        width: 100%;

    }
    button {
        margin: 0.5em;
        padding:0.5em;
    }
    .nav {
        position:sticky;
        background-color: blue;
        top: 0;
        margin-top:0;
        align-items:center;
        justify-content:center;


    }
</style>


<div class = "button-group nav">
    <button on:click={logActivity}>Activity</button>
    <button>Hunger</button>
    <button>Food</button>
    <button>Weight</button>
</div>

<a href="./"><p>Home</p></a>
<a href="./activity"><p>Activity</p></a>
<a href="./hunger"><p>Hunger</p></a>
<a href="./food"><p>Food</p></a>
<a href="./weight"><p>Weight</p></a>


<h1>Welcome to Mors Tools</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>


<div class = "home-card" id = "activity-card">
    
    <div id = "myactivity">
        {#each Array(activityCount) as i}
            <div class = "block"></div>
        {/each}
    </div>
    <div>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    
</div>
<div class = "home-card" id = "hunger-card">
    
    <div>
        <p>Last log was level 6 </p>
        <p>2 hours ago</p>
        <p>You should eat in X hours</p>
    </div>
    <div>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    
</div>
<div class = "home-card" id = "food-card">
    
    <div>
        <div>
            <img src = "https://www.thedailymeal.com/img/gallery/the-19-most-expensive-restaurant-dishes-in-america/jessica_r_guy_savoy.jpg" alt ="previous meal" />
        </div>
        <div>
            <p>Last food eaten</p>
            <p>2 hours ago</p>
        </div>
    </div>
    <div>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    
</div>

<div class = "home-card" id = "weight-card">
    
    <div>
        <p></p>
    </div>
    <div>
        <button>Edit</button>
        <button>Delete</button>
    </div>
    
</div>

