<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<a href="../"><p>Home</p></a>
<a href="./"><p>Activity</p></a>
<a href="../hunger"><p>Hunger</p></a>
<a href="../food"><p>Food</p></a>
<a href="../weight"><p>Weight</p></a>